.puzzle {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}

.cell {
    padding: 5px;
    background: whitesmoke;
    width: 30px;
    height: 30px;
}

.living-cell {
    background: lightgreen;
}

.button {
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.nav-bar {
    float: left;
    border-right: 1px solid #FFF;
}

li a {
    display: block;
    padding: 12px;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
}

.flash {padding: 10px;}
.flash.success {
         border: 1px solid #21DB56;
         background: #AEFFC5;
}
.flash.error {
         border: 1px solid #FF4343;
         background: #FF9C9C;
}