<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - N-Puzzle</title>
    {% block scripts %}
        <link href="{{ url_for("static", filename="style.css") }}" rel="stylesheet" type="text/css"/>
    {% endblock %}
</head>
<body>
<div>
    N-Puzzle:
    <ul>
        {% for m in menu %}
    <li><a href="{{m.url}}">{{m.name}}</a></li>
    {% endfor %}
    </ul>
</div>
<hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% block content %}{% endblock %}
</body>
</html>