<html>
<head>
    {% if title %}
    <title>{{ title }} - N-Puzzle</title>
    {% else %}
    <title>Welcome to N-Puzzle</title>
    {% endif %}
</head>
<body>
<div>
    N-Puzzle:
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('game') }}">Start</a>
</div>
<hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% block content %}{% endblock %}
</body>
</html>