{% extends "base.html" %}

{% block content %}
<h1>Args for game:</h1>
    <form action="" method="post"  novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.generate(size=5) }} {{ form.generate.label }}<br>
            {% for error in form.generate.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.unsolvable(size=5) }} {{ form.unsolvable.label }}</p>
        <p>{{ form.iteration(size=5) }} {{ form.iteration.label }}</p>
        <p>{{ form.method.label }} {{ form.method }}</p>
        <p>{{ form.heuristic.label }} {{ form.heuristic }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}