{% extends "base.html" %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data"  novalidate>
        {{ file_form.hidden_tag() }}
        {% if session["filename"] %}
            <p>File {{ session["filename"] }} uploaded. Need to validate.</p>
        {% endif %}
        <h2>Upload puzzle</h2>
        <p>{{ file_form.file }}</p>
         <p>{{ file_form.upload(class_="button") }}</p>
    </form>
    <form action="" method="post"  novalidate>
        {{ form.hidden_tag() }}
        <h2>{{ form.generate }} {{ form.generate.label }}</h2>
        <p>
            {{ form.size(size=5) }} {{ form.size.label }}<br>
            {% for error in form.size.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.iteration(size=5) }} {{ form.iteration.label }}<br>
            {% for error in form.iteration.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.unsolvable }} {{ form.unsolvable.label }}</p>
        <h2>Methods to solve</h2>
        <p>{{ form.uniform }} {{ form.uniform.label }}</p>
        <p>{{ form.greedy }} {{ form.greedy.label }}</p>
        <p>{{ form.heuristic.label }} {{ form.heuristic }}</p>
        <p>{{ form.validate(class_="button") }}</p>
    </form>
{% endblock %}